.customCheckbox {
    :global .ant-form-item-label {
        display: flex !important;
        width: 200px !important;
        padding: 0 !important;
    }
    :global .ant-form-item-row {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: nowrap !important;
    }
}
.green-check-icon {
    color: green;
    font-size: 18px;
}
.custom-div {
    cursor: pointer;
    text-decoration: none;
    color: rgb(24, 144, 255);
    &:hover {
      text-decoration: underline;
    }
  }
.search{
    margin-top: 20px;
}