.custom-div {
    cursor: pointer;
    text-decoration: none;
    color: rgb(24, 144, 255);
    &:hover {
      text-decoration: underline;
    }
  }
.search {
  margin-top: 20px;
}
.click-row-table{
  cursor: pointer;
}