.notificationItem{
    background-color: #e9e9e9;
    width: 500px;
    min-height: 80px;
    display: flex;
    align-items: center;
    &:hover{
        background-color: #d7d7d7;
        cursor: pointer;
    }
    border-radius: 10px;
    padding: 10px;
    margin: 4px 0;
}
.wrapperButton{
    width: 493px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.wrapper {
    height: 92vh;
    overflow: auto;
    width: 548px;
}
  
.wrapper::-webkit-scrollbar {
    width: 6px;
}
  
.wrapper::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
  
.wrapper::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
}
.viewed{
  background-color: #fafafa;
  opacity: 0.5;
}